@import "tailwindcss";
@import '@fontsource/abhaya-libre/400.css';
/* @import '@fontsource/abhaya-libre/500.css';
@import '@fontsource/abhaya-libre/600.css';
@import '@fontsource/abhaya-libre/700.css';
@import '@fontsource/abhaya-libre/800.css'; */
@import '@fontsource-variable/ballet';
/* @import '@fontsource-variable/montserrat'; - inutilizzato */
@import '@fontsource/lato';

html,
body,
#root {
    min-height: 100dvh;
}

body {
    color: #ffffff;
    background-color: #43634c;
    font-family: 'Abhaya Libre', serif;
}