@import "tailwindcss";
@import '@fontsource-variable/ballet'; /* citazione */
@import '@fontsource-variable/playfair-display'; /* titolo */
@import '@fontsource-variable/inter'; /* testo */


html,
body,
#root {
    min-height: 100dvh;
}

body {
    color: #ffffff;
    background-color: #43634c;
    font-family: 'Inter Variable', sans-serif;
}