@import "tailwindcss";
@import '@fontsource/abhaya-libre/400.css';
/* @import '@fontsource/abhaya-libre/500.css';
@import '@fontsource/abhaya-libre/600.css';
@import '@fontsource/abhaya-libre/700.css';
@import '@fontsource/abhaya-libre/800.css'; */
@import '@fontsource-variable/ballet';
/* @import '@fontsource-variable/montserrat'; - inutilizzato */
@import '@fontsource/lato';

html,
body,
#root {
    min-height: 100dvh;
}

body {
    background-image: url('./assets/Roberto.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    color: #ffffff;
    font-family: 'Abhaya Libre', serif;
}

/* Sfondo sfumato originale */
/* radial-gradient(circle at top left,
            #2E4536 0%,
            #43634C 60%,
            rgba(67, 99, 76, 0) 100%),

        radial-gradient(circle at bottom left,
            #2E4536 0%,
            #385340 80%,
            rgba(67, 99, 76, 0) 100%); */